@model IEnumerable<ShopAoThung.Models.Mmenu>
<div class="ban-top">
    <div class="container">
        <div class="top_nav_left">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu__list">
                            @foreach (var list in Model)
                            {
                            @Html.Action("SubMainMenu", "Modules", new { parentid = list.ID })


                            }
                            
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="top_nav_right">
            <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                <a href="~/giohang"><button class="w3view-cart" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button></a>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>